@model IEnumerable<GamesDatabase_Project.Models.Game>


@{
    ViewBag.Title = "Index";
}

<section class="section">
    <h2 class="myTitle">Upcoming Game Releases <br /> (July 2018 onwards)</h2>

    <div class="text-center">
        <a href="@Url.Action("Create")" class="btn btn-success addGame">
            <i class="fas fa-plus-square"></i>
            <span>
                Add Game
            </span>
        </a>

        @using (Html.BeginForm())
        {
            <p>
                Genre: @Html.DropDownList("gameGenre", "All")
                Platform: @Html.DropDownList("gamePlatform", "All")
                Title: @Html.TextBox("searchString")
                <button>
                    <i class="fas fa-filter"></i>
                    Filter
                </button>
                @*<input type="submit" value="Filter" />*@
            </p>
        }
    </div>
    <table class="table mytable">
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>Genre(s)</th>
            <th>Platform(s)</th>
            <th>Rating</th>
            <th>Properties</th>
        </tr>

        @foreach (var item in Model.OrderBy(o => o.release_date))
        {
            //
            var lastGenre = item.gameGenres.LastOrDefault(x => x.gameID == item.ID);
            var lastPlatform = item.gamePlatforms.LastOrDefault(x => x.gameID == item.ID);

            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="@Url.Content(item.Image)" height="75" />
                    }
                    else
                    {
                        
                        <img src = "https://openclipart.org/download/227918/Video-Game-Controller-Icon.svg" height = "75" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(g => item.Title)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.release_date))
                </td>
                <td>
                    @foreach (var genreItem in item.gameGenres)
                    {
                        if (genreItem.genreID == genreItem.genre.ID)
                        {
                            string s = genreItem.genre.Genre1 + ", ";
                            if (lastGenre.Equals(genreItem))
                            {
                                s = s.Substring(0, s.Length - 2);
                            }
                            @Html.DisplayFor(g => s)
                        }
                    }
                </td>
                <td>
                    @foreach (var platItem in item.gamePlatforms)
                    {

                        if (platItem.platformID == platItem.platform.ID)
                        {
                            string s = platItem.platform.Platform1 + ", ";
                            if (lastPlatform.Equals(platItem))
                            {
                                s = s.Substring(0, s.Length - 2);
                            }
                            @Html.DisplayFor(g => s)
                        }
                    }
                </td>
                <td>
                    <p class="upvoteText" id="@item.ID">
                        @if (item.Upvote == null)
                        {
                            item.Upvote = 0;
                        }

                        @item.Upvote
                    </p>
                    @*<a href="@Url.Action("Upvote", new { id = item.ID })" class="btn btn-xs btn-success">
                        <i class="fas fa-thumbs-up"></i>
                    </a>
                    <a href="@Url.Action("Downvote", new { id = item.ID })" class="btn btn-xs btn-danger">
                        <i class="fas fa-thumbs-down"></i>
                    </a>*@
                    <button id="btnLike" class="btn btn-xs btn-success" data-id="@item.ID">
                        <i class="fas fa-thumbs-up"></i>
                    </button>

                    <button id="btnDislike" class="btn btn-xs btn-danger" data-id="@item.ID">
                        <i class="fas fa-thumbs-down"></i>
                    </button>

                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-info">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-primary">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</section>